<h1>'<%= @list.name %>' list</h1>

<% @bookmarks.each do |bookmark| %>
  <div class="card my-3">
    <p><%= bookmark.movie.title %> - <%= bookmark.comment %></p>
    <%= link_to 'Delete movie', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%#= link_to 'Add new movie to the list', new_list_bookmark_path(@list), class:'btn btn-primary' %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a new movie
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add movie to '<%= @list.name %>'</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render template: 'bookmarks/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to all lists', lists_path, class:'btn btn-secondary' %>
